body {
  background-image: url(/img/port-authority-bus.jpg);
}

h1 {
  text-align: center;
  font-size: 3em;
  background-color: teal;
  display: inline;
  margin-left: 36.5%;

}

h3 {
  text-align: center;
  font-size: 3em;
  background-color: teal;
  display: inline;
  margin-left: 31%;
}

div {
  text-align: center;
}

section {
  background-color: blue;
  width: max-content;
  margin: auto;
}

section img {
  width: 300px;
  height: 500px;
  padding: 5px;
}

main div {
  background-color: rgb(0, 255, 21);
  width: max-content;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  
}

main div:hover, section img:hover {
  cursor: pointer;
}

section canvas {
  display: none;
  background-color: white;
  width: max-content;
  margin-bottom: 100px;
}

article {
  margin: auto;
  text-align: center;
  font-size: 2em;
}
